#################
## Visual Studio
#################



Setup.md
demo.md
config.yaml
demos
twistlock.md
Jenkins-ACI.md
CommonIssues.md
Presentation.md
games/whack.yaml
deployment/acsengvnet_out.json
multi-calculator/.DS_Store
multi-calculator/go-calc-backend/.DS_Store
multi-calculator/js-calc-backend/.DS_Store
.DS_Store
