#################
## Visual Studio
#################

aad/*
wa
scripts/*_wa*.sh
todos.md
SECURITY_FD.md
GRPC.md
ingress/*
Ingress_EasyAuth.md
table.csv
Setup.md
CustomAKS.md
GlobalLB.md
Permissions.md
demo.md
config.yaml
terraform_agic/.terraform
terraform_agic/*.plan
Lima.md
demos
twistlock.md
Jenkins-ACI.md
appgw.yaml
Presentation.md
games/whack.yaml
manifests/*
logging/grafana-values.yaml
deployment/acsengvnet_out.json
multi-calculator/.DS_Store
multi-calculator/go-calc-backend/.DS_Store
multi-calculator/js-calc-backend/.DS_Store
.DS_Store
Jaeger.md
Postgres.md
towatch.md
cloudprovider.md
AzureARC.md
todos.md
table.json
Security_Private_Env.md
workerapps.md